wsdl/helloworld.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?mxl version="1.0" ?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://com.example/services/demowsdl" xmlns:types="http://com.example/services/demowsdl" name="HelloWorld" targetNamespace="http://com.example/services/demowsdl">

    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://com.example/services/demowsdl" version="1.0">

            <xsd:element name="person">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="firstName" type="xsd:string"/>
                        <xsd:element name="lasName" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="greeting">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="greeting" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="SayHelloInput">
        <wsdl:part element="types:person" name="person"/>
    </wsdl:message>

    <wsdl:message name="SayHelloOutput">
        <wsdl:part element="types:greeting" name="greeting"/>
    </wsdl:message>

    <wsdl:portType name="HelloWorld_PortType">
        <wsdl:operation name="sayHello">
            <wsdl:input message="tns:SayHelloInput"/>
            <wsdl:output message="tns:SayHelloOutput"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="HelloWorld_SoapBinding" type="tns:HelloWorld_PortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="sayHello">
            <soap:operation soapAction="http://com.example/services/demowsdl"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="HelloWorld_Service">
        <wsdl:documentation>Hello World Service</wsdl:documentation>
        <wsdl:port binding="tns:HelloWorld_SoapBinding" name="HelloWorld_Port">
            <soap:address location="http://localhost:8080/ws/helloworld"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>